/**** Variables ****/
$purple: #4b42ad;
$green: #3cd17f;
$green-darker: #2fc673;
$green-active: #3ac779;
$grey-bg: #f8f8f9;
$copy: #26262f;
$header_height: 93px;

$font-family-Roboto: "Roboto";
$font-family-OpenSans: "Open Sans";
$font-style: normal;
